// Colours.
$main-colour: #ff1907;
$main-font: Lato, Arial, Tahoma, sans-serif;
$border-colour: rgba(0, 0, 0, .1);

// General layout.
$header-height: 5rem;
$footer-height: 35px;
$content-padding: 20px;

// Responsive layout.
$break-small: 480px;

// Icons.
$icon-size-small: 10px;
$icon-size-medium: 20px;

// Mobile menu.
$mobile-menu-width: $header-height;
$mobile-menu-animation: .25s;
