@import "./config";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  $transition: .15s color;

  outline: none;

  &.invert {
    color: black;
    text-decoration: none;
    transition: $transition;

    &:hover {
      color: $main-colour;
    }
  }

  &:not(.invert) {
    color: $main-colour;
    transition: $transition;

    &:hover {
      color: black;
    }
  }
}

html {
  font-size: 10px;
  position: relative;
  min-height: 100%;

  > body {
    min-height: 100vh;
    display: flex;
    justify-content: center;

    > section.dory {
      overflow: hidden;
      min-height: 100vh;
      max-width: $max-width;

      > section.layout {
        min-height: 100vh;

        @media screen and (max-width: $break-small) {
          transition: right $mobile-menu-animation;
          right: 0;
          position: relative;
          width: 100%;

          &.open {
            right: $mobile-menu-width;

            > header {
              left: -$mobile-menu-width;
            }
          }
        }

        > header {
          position: absolute;
          width: 100%;
          left: 0;
          background-color: white;
          z-index: 1;
          box-shadow: 0 0 10px rgba(0, 0, 0, .1);
          border-bottom: 1px solid rgba(0, 0, 0, .1);
          color: rgba(0, 0, 0, .75);
          height: $header-height;
          display: flex;
          justify-content: center;

          @media screen and (max-width: $break-small) {
            transition: left $mobile-menu-animation;
            position: fixed;
          }

          > span {
            @import "./components/navigation";
            @import "./components/loading";

            display: flex;
            align-items: center;
            max-width: $max-width;
            width: 100vw;
            position: relative;

            > h1 {
              font-family: $main-font;
              font-size: 2.2rem;
              font-weight: 800;
              display: inline-block;
              text-transform: uppercase;
              border-right: 1px solid rgba(0, 0, 0, .1);

              > a {
                text-decoration: none;
                height: $header-height;
                line-height: $header-height;
                padding: 0 $content-padding;

                > label {
                  color: rgba(0, 0, 0, .25);
                  pointer-events: none;
                  font-weight: 200;
                  padding-left: 5px;
                }
              }

              @media screen and (max-width: $break-small) {
                border-right: 0;
              }
            }
          }
        }

        > main {
          padding: ($header-height + $content-padding) $content-padding ($footer-height + $content-padding);
          width: 100%;

          &.page {
            @import "./containers/posts";
            @import "./containers/post";
            @import "./containers/not-found";
          }

          main.component {
            @import "./components/post";
            @import "./components/pagination";
          }

          > h2 {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 15px;
            font-family: $main-font;

            > label {
              display: inline-block;
              padding-left: 5px;
              color: rgba(0, 0, 0, .25);
            }
          }
        }

        > footer {
          border-top: 1px solid rgba(0, 0, 0, .1);
          height: $footer-height;
          line-height: $footer-height;
          font-family: $main-font;
          width: 100%;
          overflow: hidden;
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;

          > span {
            overflow: hidden;
            max-width: $max-width;
            width: 100%;
            padding: 0 $content-padding;

            @media screen and (max-width: $break-small) {
              padding-right: 0;
            }

            > aside {
              float: left;
            }

            > ul {
              list-style-type: none;
              float: right;
              overflow: hidden;

              li {
                width: $footer-height;
                height: $footer-height;
                background-size: $icon-size-small;
                background-position: center center;
                background-repeat: no-repeat;
                border-right: 1px solid rgba(0, 0, 0, .1);
                display: inline-block;

                &:first-of-type {
                  border-left: 1px solid rgba(0, 0, 0, .1);
                }

                &:last-of-type {
                  @media screen and (max-width: $break-small) {
                    border-right: 0;
                  }
                }

                a {
                  display: block;
                  height: $footer-height;
                }

                &.rss {
                  background-image: url("/images/icons/rss-feed-button.svg");
                }

                &.contact {
                  background-image: url("/images/icons/pencil.svg");
                }
              }
            }
          }
        }
      }
    }
  }
}
