* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 10px;
}

section.dory {
    @import './containers/layout';
    @import './containers/home';
    @import './components/navigation';
}
