:global(*) {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:global(html) {
    font-size: 10px;
}

:global(p) {
  padding-bottom: 10px;
  text-align: justify;
}

.header {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    color: rgba(0, 0, 0, .75);
    display: flex;
    align-items: center;
    padding: 0 2rem;
    height: 5rem;
}

.mainColour {
    color: #ff1907;
}

:global(a) {
    color: #ff1907;
}

:global(a:hover) {
    color: black;
}

.h1Heading {
    composes: mainColour;
    font-family: Lato, Arial, Tahoma, sans-serif;
    font-size: 2.2rem;
    font-weight: 800;
    display: inline-block;
    height: 5rem;
    line-height: 5rem;
    text-transform: uppercase;
    border-right: 1px solid rgba(0, 0, 0, .1);
    padding-right: 2rem;
}

.h2Heading {
    font-family: Lato, Arial, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
}

.h2HeadingLabel {
    display: inline-block;
    padding-left: 5px;
    color: rgba(0, 0, 0, .25);
}

.main {
    padding: 20px;
}
