@import "../config";

> nav {
  padding-left: 2rem;

  > ul {
    list-style-type: none;
    display: flex;

    > li {
      font-size: 1.2rem;
      font-family: Lato, Arial, Tahoma, sans-serif;
      padding-right: 20px;

      > a {
        text-decoration: none;
        transition: color 0.25s;
        color: black;

        &:hover {
          color: $main-colour;
        }
      }
    }
  }
}
