@import "../config.scss";

$default-height: 30px;
$mobile-height: 50px;
$padding: 10px;

&.pagination {

  > ul {
    list-style-type: none;
    border: 1px solid $border-colour;
    display: inline-block;

    @media screen and (max-width: $break-small) {
      width: 100%;
      height: $mobile-height;
    }

    > li {
      display: inline-block;
      height: $default-height;
      line-height: $default-height;
      font-family: $main-font;
      font-size: 1.2rem;
      border-right: 1px solid $border-colour;
      text-align: center;

      @media screen and (max-width: $break-small) {
        width: 25%;
        height: $mobile-height;
        line-height: $mobile-height;
      }

      &.page-number {
        background-color: rgba(0, 0, 0, .05);
        border-right: 0;
        padding: 0 $padding;

        @media screen and (max-width: $break-small) {
          width: 50%;
        }
      }

      &:last-of-type {
        border-right: 0;
        border-left: 1px solid $border-colour;
      }

      > a {
        cursor: pointer;
        text-decoration: none;
        padding: 0 $padding;
        display: block;
      }

      &.disabled > a {
        pointer-events: none;
        color: rgba(0, 0, 0, .35);
      }
    }
  }
}
