@import "../config";

$spacing-bottom: 40px;

&.post {
  font-family: $main-font;
  margin-bottom: $spacing-bottom / 2;
  padding-bottom: $spacing-bottom / 2;
  border-bottom: 1px solid $border-colour;
  overflow: hidden;

  > h3 {
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 5px;
  }

  > datetime {
    margin-bottom: 10px;
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    font-size: 1.2rem;
    font-weight: 100;
    background: url("/images/icons/calendar-with-spring-binder-and-date-blocks.svg") no-repeat left 1px;
    padding-left: 1.8rem;
    background-size: 1.2rem;

    @media screen and (max-width: $break-small) {
      margin-bottom: 5px;
      display: block;
    }
  }

  > div.author {
    display: inline-block;
    font-size: 1.2rem;
    padding-left: 4px;

    @media screen and (max-width: $break-small) {
      padding-left: 0;
      display: inline-block;
      margin-bottom: 10px;
    }

    > a {
      > label {
        pointer-events: none;
      }
      > img {
        $default-size: 16px;
        $mobile-size: 12px;

        width: $default-size;
        height: $default-size;
        float: right;
        margin-left: 6px;
        border-radius: 50%;

        @media screen and (max-width: $break-small) {
          float: left;
          margin: 2px 7px 0 0;
          width: $mobile-size;
          height: $mobile-size;
        }
      }
    }
  }

  article {
    $minimum-paragraph-width: 300px;

    > p {
      font-size: 1.2rem;
      margin-bottom: $content-padding;

      &:last-of-type {
        margin-bottom: 0;
      }

      > img {
        width: 100%;
        padding: 1px;
        border: 1px solid $border-colour;
        max-width: 500px;
        float: left;
        margin: 0 15px 15px 0;

        @media screen and (max-width: $break-small + $minimum-paragraph-width) {
          float: none;
          margin-bottom: 0;
        }
      }
    }
  }
}
